################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/virtual box
/slides_conceitos_web.pdf
/Sincronização Drive.lnk
/Sincronização Drive (não está sincronizando)
/Projetos
/Portifolio
/pen drive Camila
/Pasta Camila
/Nota fiscal maquina de lavar.pdf
/Maquina virtual
/entity.txt
/Download
/diretivas projeto.txt
/Curriculo Fernando.docx
/Curriculo Fernando-dev.docx
/cupom de desconto e protocolo de atendimento(facily).txt
/Cibergestion
/Carta de autorização Enel.docx
/Banco de dados
/Backup_Google
/$RECYCLE.BIN
